<p><%= coment.content%></p>
<p>Criado por: <%=coment.user.email%></p>


<%if user_signed_in? %>
    <%if coment.user_id == current_user.id%>
    <%=link_to "Editar", edit_post_coment_path(coment.post, coment)%>
    <%=link_to "Excluir", post_coment_path(coment.post,coment), method: :delete,data:{confirm: "Certeza?"}%>   
    <%end%>
<%end%>    