<h1> Edição </h1>

<%= simple_form_for @post do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title,label:"Titulo do post" %>
  <%= f.input :message,label:"Mensagem" %>
  <%= f.button :submit %>
<% end %>