<h1><%= @post.title %></h1>
<h5>Categoria: <%=@post.category.name%></h5>
<p>Criado por: <%=@post.user.email%></p>
<h2><%= @post.message %></h2>

 

<h5>Comentarios:</h5>
<%= render @post.coments%>  

<h3></h3>
<%=render 'coments/form'%>

<%= link_to "Voltar", root_path,class:"btn btn-default"%>
<%if user_signed_in?%>
    <%if @post.user_id == current_user.id %>
        <%= link_to "Editar Post", edit_post_path(@post),class:"btn btn-default"%>
        <%= link_to "Deletar",post_path(@post),method: :delete, data:{confirm:"Certeza?"},class:"btn btn-default"%>
    <%end%>    
<%end%>    