<!DOCTYPE html>
<html>
  <head>
    <title>Ep3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="navbar navbar-default">
          <div class="container">
              <div class="navbar~header">
                  <%=link_to "Pagina inicial",root_path, class:"navbar-brand" %>
              </div>
              <ul class="nav navbar-nav">
                  <li><%=link_to "Sign In", new_user_registration_path %></li>
                  <%if user_signed_in?%>
                    <li><%=  link_to "Sign Out", destroy_user_session_path,method: :delete%></li>
                  <%else%>
                    <li><%= link_to "Log In",new_user_session_path %></li>
                  <%end%>
              </ul>
              <% if user_signed_in? %> 
                  <p><%= link_to "Novo post", new_post_path, class: "navbar-right navbar-text navbar-link" %></p>
              <%end%>    
          </div>
      </div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
